<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deviceinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".RestaurantApp"
        android:allowBackup="true"
        android:icon="@android:drawable/ic_dialog_info"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TableActivity"
            android:label="@string/check_items"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".MenuSectionActivity"
            android:label="@string/select_menu_section"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".TableActivity" />

        <activity android:name=".LunchTypeActivity"
            android:label="@string/select_lunch_type"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".MenuSectionActivity" />

        <activity android:name=".ComplexPickActivity"
            android:label="@string/lunch_complex"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".LunchTypeActivity" />

        <activity android:name=".MenuPickActivity"
            android:label="@string/select_menu_item"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".MenuSectionActivity" />

        <activity android:name=".SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".MenuAdminActivity"
            android:label="@string/menu_admin"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".ReportsActivity"
            android:label="@string/reports"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".DeviceInfoActivity"
            android:label="@string/title_device_info"
            android:parentActivityName=".SettingsActivity" />

        <activity android:name=".ConnectedDevicesActivity"
            android:label="@string/title_connected_devices"
            android:parentActivityName=".SettingsActivity" />

        <activity android:name=".PrintersActivity"
            android:label="@string/title_printers"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".SettingsActivity" />

        <activity android:name=".ReceiptCategoriesActivity"
            android:label="@string/receipt_categories_title"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".SettingsActivity" />

        <activity android:name=".PrinterTestActivity"
            android:label="@string/title_printer_test"
            android:parentActivityName=".PrintersActivity" />

        <activity android:name=".UsbDeviceActivity"
            android:label="USB Device"
            android:excludeFromRecents="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>

        <service android:name=".server.PrintServerService" />

    </application>
</manifest>
